.container {
    width: 1140px;
    margin: 0 auto;
}

.header {
    border-bottom: 1px solid #ececec;
}

.header__wrapper {
    height: 100px;
    display: flex;
    align-items: center;
}

.header__logo {
    text-decoration: none;
    display: flex;
    
}

.brand-first-part {
    margin-top: 15px;
    margin-left: 13px;
    font-family: Lato;
    font-size: 27px;
    line-height: 32px;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 0.025em;
    color: #222222; 
}

.brand-second-part {
    margin-top: 15px;
    font-family: Lato;
    font-size: 27px;
    line-height: 32px;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 0.025em;
    color: #f16d7f;
}

.header__form {
    margin-left:36px;
    display: flex;
}

.header__form-browse {
    background-color: #cdcdcc;
    background-image: linear-gradient(180.0deg, #f9f9f9 0%, #f5f5f5 100%);
    border: 1px solid #e6e6e6;
    border-radius: 3px 0px 0px 3px;
    width: 87px;
    font-family: Lato;
    font-size: 14px;
    line-height: 32px;
    font-weight: 300;
    letter-spacing: 0.025em;
    color: #222222;
}

.header__form-input {
    border: none;
    padding: 0 15px;
    font-family: Lato;
    font-size: 14px;
    line-height: 32px;
    font-weight: 300;
    letter-spacing: 0.025em;
    color: #a4a4a4;
    width: 279px;
    background-color: #ffffff;
    border-top: 1px solid #e6e6e6;
    border-bottom: 1px solid #e6e6e6;
}

.header__form-search {
    padding: 0 12px;
    border: 1px solid #e6e6e6;
    background-color: #ffffff;
    border: 1px solid #e6e6e6;
    border-radius: 0px 3px 3px 0px;
}

.fa-search {
    font-family: FontAwesome;
    font-size: 14px;
    line-height: 32px;
    font-weight: 400;
    letter-spacing: 0.025em;
    color: #a4a4a4;
}

.header__controls {
    margin-left: auto;
    display: flex;
}

.header__controls-account {
    font-family: Lato;
    font-size: 15px;
    line-height: 32px;
    font-weight: 400;
    letter-spacing: 0.025em;
    color: #ffffff;
    width: 130px;
    height: 38px;
    background-color: #f16d7f;
    margin-left: 25px;
}

.header__controls-buy {
    margin-top: 8px;
}

.navigation {
    display: flex;
    justify-content: center;
}

.navigation a:not(:last-of-type) {
    margin-right: 43px;
}
.navigation__link {
    font-family: Lato;
    font-size: 14px;
    line-height: 26px;
    font-weight: 700;
    padding: 10px 13px;
    text-transform: uppercase;
    color: #222222;
    text-decoration: none;  
}

.navigation__link-active {
    font-family: Lato;
    font-size: 14px;
    line-height: 26px;
    font-weight: 700;
    padding: 10px 13px;
    text-transform: uppercase;
    color: #222222;
    text-decoration: none;
    border-bottom: 3px solid #ef5b70;
}

.navigation__link:hover {  
    border-bottom: 3px solid #ef5b70;
}

.breadcrumb {
    background-color: #f8f3f4;
    margin-bottom: 55px;
}

.breadcrumb__wrapper {
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.breadcrumb__title {
    font-family: Lato;
    font-size: 24px;
    line-height: 20px;
    font-weight: 900;
    text-transform: uppercase;
    color: #f16d7f;
}

.breadcrumb__menu-link,
.breadcrumb__menu-link-special{
    font-family: Lato;
    font-size: 14px;
    line-height: 20px;
    font-weight: 300;
    text-transform: uppercase;
    color: #636363;
}

.breadcrumb__menu-link-special {
    font-weight: 700;
    color: #f16d7f;
}

.product-content {
    display: flex;
    justify-content: space-between;
}

.product-content__sidebar {
    width: 23%;
    display: flex;
    flex-direction: column;
    margin-right: 48px;
}

.sidebar__title {
    display: none;
}

.sidebar__title-label {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 38px;
    font-family: Lato;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    color: #6f6e6e;
    border: none;
    border-left: 5px solid #ef5b70;
    border-bottom: 1px solid #ebebeb;
    text-align: left;
    padding-left: 11px;
    margin-bottom: 5px;
    background-color: white;
}

.sidebar__title-label::after {
    content: '►';
    color: #ef5b70;
}

.sidebar__title:checked ~ .sidebar__item-navigation {
    display: flex;
}

.sidebar__title:checked ~ .sidebar__title-label {
    color: #ef5b70;
}

.sidebar__title:checked ~ .sidebar__title-label::after {
    content: '▼';
}

.sidebar__subtitle-item {
    height: 38px;
    font-family: Lato;
    font-size: 14px;
    line-height: 33px;
    font-weight: 400;
    border: none;
    text-align: left;
    padding-left: 17px;
    background-color: white;
}

.sidebar__item-navigation {
    display: none;
    flex-direction: column;
}


.product-content__wrapper {
    width: 84%;
}
.product-content__wrapper-filter {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.filter__by-trend,
.filter__by-size,
.filter__by-price {
    width: 24%;
}


.filter__by-trend-title,
.filter__by-size-title,
.filter__by-price-title {
    font-family: Lato;
    font-size: 14px;
    line-height: 20px;
    font-weight: 700;
    text-transform: uppercase;
    color: #6f6e6e;
    margin-top: 8px;
    margin-bottom: 26px;
}

.filter__by-trend-item {
    font-family: Lato;
    font-size: 14px;
    line-height: 10px;
    font-weight: 400;
    color: #6f6e6e;
    border-color: transparent;
    background-color: transparent;
    margin: 10px 0;
    padding: 0 10px;
}

.filter__by-trend-item:not(:nth-of-type(3n+3)) {
    border-right: 1px solid gray;    
}

.filter__by-size-text,
.price__range-text-item {
    font-family: Lato;  
    font-size: 14px;
    line-height: 20px;
    font-weight: 700;
    text-transform: uppercase;
    color: #6f6e6e;
    
}

.filter__by-size-text {
    margin-right: 14px;
    display: flex;
    margin-bottom: 10px;
}

.checkbox__wrapper {
    display: flex;
    flex-wrap: wrap;
    margin-right: 5px;
}

.checkbox__wrapper-item {
    display: block;
}

.by-price__text {
    margin-top: 5px;
    display: flex;
    justify-content: space-between;
}

.product-content__wrapper-sorting {
    display: flex;
    align-items: center;
    height: 50px;
    background-color: #f3f3f3;
}

.sorting__by-feature,
.sorting__by-quantity{
    display: flex;
    align-items: center;
    margin-left: 9px;
}

.sorting__by-feature-text,
.sorting__by-quantity-text{
    display: flex;
    align-items: center;
    font-family: Lato;
    font-size: 14px;
    line-height: 26px;
    font-weight: 400;
    color: #6f6e6e;
    background-color: white;
    border: 1px solid #ebebeb;   
}

.sorting__by-feature-input,
.sorting__by-quantity-input {
    font-family: Lato;
    font-size: 14px;
    text-align: center;
    line-height: 26px;
    font-weight: 400;
    color: #6f6e6e;
    padding-left: 5px;
    background-color: white;
    border: 1px solid #ebebeb;
    border-left: none;
    width: 80px;
}

.product-content__wrapper-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 50px;
}

.product_item {
    display: inline-block;
    position: relative;
    margin-top: 50px;
}

.product_item:hover {
    box-shadow: 0px 5px 8px 0px rgba(0,0,0,0.15);
}
.product__features-wrapper {
    display: flex;
    flex-direction: column;
    padding: 15px 10px;
}

.product__name {
    display: block;
    font-family: Lato;
    font-size: 13px;
    line-height: 1.2;
    font-weight: 400;
    text-transform: uppercase;
    color: #222222;
    margin-bottom: 15px;
}

.product__price {
    display: block;
    font-family: Lato;
    font-size: 16px;
    line-height: 1.2;
    font-weight: 700;
    text-transform: uppercase;
    color: #f16d7f;
}


.hidden {
    position: absolute;
    display: flex;
    justify-content: space-around;
    top: 0;
    bottom: 0;
    opacity: 0;
}

.hidden:hover {
    opacity: 1;
}

.product__add {
    margin-top: 100px;
    position: absolute;
    width: 122px;
    height: 39px;
     
}

.cart__button {
    border: 1px solid #ffffff;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-family: Lato;
    font-size: 13px;
    padding: 5px 10px;
    line-height: 1.2;
    font-weight: 700;
    color: white;
    background-color: transparent;
    text-decoration: none;
}

.buy-controls__wrapper {
    display: flex;
    justify-content: space-between;
}

.repeat__button,
.favorite__button{
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 56px;
    height: 38px;
    padding-left: 6px;
    border: 1px solid #ffffff;
    border-radius: 3px;
    background-color: transparent;
    text-decoration: none;
}

.cart {
    padding-right: 8px;
}

.product-content__pagination-wrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

.pagination {
    display: flex;
    align-items: center;
}

.pagination__disabled-arrow,
.pagination__enabled-arrow {
    font-size: 22px;
    font-weight: 700;
    padding-bottom: 4px;
    color: #aaaaaa;
    border: none;
    background-color: transparent;
}

.pagination__enabled-arrow {
    color: #ef5b70;
}

.pagination__disabled-item,
.pagination__enabled-item {
    font-family: Lato;
    font-size: 16px;
    font-weight: 700;
    color: #ef5b70;
    border: none;
    background-color: transparent;
}

.pagination__disabled-item {
    color: #c4c4c4;
}

.pagination__dots-item {
    border: none;
    color: #ef5b70;
    background-color: transparent;
    padding: 0; 
}

.product-content__view-all {
    border: 1px solid #ef5b70;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-family: Lato;
    font-size: 13px;
    padding: 5px 10px;
    line-height: 1.2;
    font-weight: 700;
    color: #ef5b70;
    background-color: transparent;
    text-decoration: none;
}

.feature__boxes {
    height: 341px;
    background-color: #222224;
}

.feature__boxes-wrapper {
    display: flex;
    justify-content: space-between;
}

.feature__box-delivery {
    background: url(../img/feature_box_image1.png);
    background-repeat: no-repeat;
    background-position: 50% 45%;
}
.feature__box-sales {
    background: url(../img/feature_box_image2.png);
    background-repeat: no-repeat;
    background-position: 50% 45%;
}
.feature__box-quality {
    background: url(../img/feature_box_image3.png);
    background-repeat: no-repeat;
    background-position: 50% 45%;
}

.feature__box-caption-title {
    padding-top: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Lato;
    font-size: 20px;
    line-height: 1.2;
    font-weight: 700;
    letter-spacing: 0.025em;
    color: #fbfbfb;
    text-align: center;
}

.feature__box-caption-text {
    display: block;
    margin-top: 10px;
    font-family: Lato;
    font-size: 14px;
    line-height: 24px;
    font-weight: 300;
    letter-spacing: 0.025em;
    color: #fbfbfb;
    text-align: center;
}


.subscribe {
    margin-bottom: 96px;
    background-position: 50%;
    background-image: url(../img/subscribe_background.jpg);
    background-repeat: no-repeat;   
}

.subscribe__content {
    height: 439px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.subscribe__feedback {
    display: flex;
    align-items: flex-start;
    padding-right: 71px;
    border-right: 2px solid #FFFFFF; 
    padding-top: 140px;
    padding-bottom: 140px;
    
}

.subscribe__feedback-caption-text {
    font-family: Lato;
    font-size: 16px;
    line-height: 26px;
    font-weight: 400;
    font-style: italic;
    letter-spacing: 0.025em;
    color: #222224;
}

.subscribe__feedback-image {
    border-radius: 50%;
    margin-right: 28px;
}

.subscribe__feedback-caption {
    width: 386px;
    margin-bottom: 19px;
}

.subscribe__feedback-caption-title,
.subscribe__feedback-caption-subtitle {
    margin-top: 19px;
    display: block;
    font-family: Lato;
    font-size: 16px;
    line-height: 26px;
    font-weight: 700;
    letter-spacing: 0.025em;
    color: #f16d7f;
}

.subscribe__feedback-caption-subtitle {
    margin-top: 2px;
    font-size: 12px;
    line-height: 14px;
    font-weight: 300;
    color: #222224;
}

.subscribe__form-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 40px;
}


.subscribe__form-title,
.subscribe__form-subtitle {
    font-family: Lato;
    font-size: 24px;
    line-height: 54px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.025em;
    color: #222224;
}

.subscribe__form-subtitle {
    display: block;
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 34px;
}

.subscribe__form-mail {
    width: 304px;
    height: 40px;
    background-color: #e1e1e1;
    border-radius: 23px 0px 0px 23px;
    border-color: transparent;
    font-family: Lato;
    font-size: 14px;
    line-height: 54px;
    font-weight: 400;
    letter-spacing: 0.025em;
    color: #222224;
    padding-left: 30px;
}

.subscribe__form-mail-submit {
    width: 104px;
    height: 46px;
    background-color: #f16d7f;
    border-radius: 0px 23px 23px 0px;
    border-color: transparent;
    font-family: Lato;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.025em;
    color: #ffffff;
}

.footer__wrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 90px;
}

.footer__brand {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.footer__brand-text {
    width: 427px;
    font-family: Lato;
    font-size: 14px;
    line-height: 24px;
    font-weight: 300;
    letter-spacing: 0.025em;
    color: #898989;
}

.footer__brand-text:first-of-type {
    margin: 18px 0;
}

.footer__content {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.footer__content-title {
    font-family: Lato;
    font-size: 18px;
    line-height: 26px;
    font-weight: 700;
    letter-spacing: 0.025em;
    color: #f16d7f;
    text-transform: uppercase;
    text-decoration: none;
}

.footer__content-subtitle {
    font-family: Lato;
    font-size: 16px;
    line-height: 50px;
    font-weight: 400;
    letter-spacing: 0.025em;
    color: #898989;
    text-decoration: none;
}

.footer__end {
    height: 79px;
    background-color: #e6e6e6;
}

.footer__end-wrapper {
    height: 79px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__footer-copyright {
    font-family: Lato;
    display: block;
    font-size: 16px;
    line-height: 42px;
    font-weight: 400;
    letter-spacing: 0.025em;
    color: #7a7a7a;
}

.footer__footer-social {
    display: flex;
}

.footer__footer-social-link{
    margin: 3px;
    display: flex;
    width: 32px;
    height: 32px;
    color: #b2b2b2;
    background-color: #ffffff;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    background-color: #f16d7f;
    
}